body {
    background: #DDDDDD;
}

.navbar {
    background-color: #285bad;
    color: white;
}

.page-container {
    margin-top: 75px;
    margin-bottom: 75px;
}

.card {
    margin: 10px 0;
    border-radius: 50px;
}

#loginPage {
    justify-content: center;
    text-align: center;
}

#logo {
    max-width: 200px;
}

#menuBar {
    width: 100%;
    padding: 5px 20px;
    background-color: #285bad;
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 15px;
}

#toAllRoutes,
#toMyRoutes,
#toMyStats {
    margin: 0 5vw;
    display: inline;
    font-size: 1rem;
    cursor: pointer;
}

.card-title {
    margin: auto auto auto 0;
}

.dropdown-menu-right {
    position: absolute;
    top: 32px;
    left: -128px;
    will-change: top, left;
    width: max-content;
    border-radius: 20px;
}

.dropdown-item {
    border-radius: 20px;
}

.btn {
    border-radius: 10px;
}

#routeViewMenu {
    left: -220px;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 60px;
    background-color: #285bad;
    color: white;
    z-index: 999;
}

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg, #285bad 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
}

.is-focused [class*=" bmd-label"],
.is-focused [class^=bmd-label] {
    color: #285bad;
}

#submitAddRoute,
#submitEditRoute {
    color: #285bad;
}

.checkbox label {
    color: black;
}

/* .checkbox label input[type=checkbox]:checked+.checkbox-decorator .check,
label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check {
    color: #285bad;
    border-color: #285bad;
} */

#map {
    height: 40vh;
    width: 70%;
    border-radius: 20px;
}

#menuDelete {
    display: none;
}

#locationLatLong {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-column-gap: 30px;
}

.modal-content {
    border-radius: 20px;
}