body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.card {
    margin: 10px 0;
}

.card-body {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 100%;
}

#loginPage {
    justify-content: center;
    text-align: center;
}

#logo {
    max-width: 200px;
}

#menuBar {
    width: 100%;
    padding: 5px 20px;
    background-color: #800000;
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 15px;
}

#toAllRoutes,
#toMyRoutes,
#toMyStats {
    margin: 0 5vw;
    display: inline;
    font-size: 1rem;
}

.inProgressDot {
    display: inline-block;
    margin-left: auto;
    max-width: 5em;
    max-height: 5em;
}

.card-title {
    /* display: inline; */
    margin: auto auto auto 0;
}

.dropdown-menu-right {
    position: absolute;
    top: 32px;
    left: -190px;
    will-change: top, left;
    width: max-content;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 60px;
    background-color: #800000;
    color: white;
    z-index: 999;
}

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}

#inputName,
#inputDifficulty,
#inputLocation,
#inputNotes,
#startDate {
    background-image: linear-gradient(0deg, #800000 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
}

.is-focused [class*=" bmd-label"],
.is-focused [class^=bmd-label] {
    color: #800000;
}

#submitAddRoute,
#submitEditRoute {
    color: #800000;
}

.checkbox label {
    color: black;
}

.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check,
label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check {
    color: #800000;
    border-color: #800000;
}